name: Bump version
on:
  workflow_dispatch:
  
  push:
    branches:
      - master
      - main
jobs:
  build:
    permissions: "read all|write all"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        fetch-depth: '0'
    - name: Bump version and push tag
      uses: jessenich/tag-bump-action@main
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
